In [1]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

dotenv.load_dotenv(override= True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = "SELECT * FROM dimproduct"
df = pd.read_sql(query,db_engine)

db_engine.dispose()

In [2]:
"""
    Esercizio 1/3 Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo quanto segue: 
        • Quanti dati ci sono in totale? 
        • Quali sono i metadati? 
        • Stampiamo il primo elemento 
        • Stampiamo l'ultimo elemento
        • Riusciamo a stampare cinque elementi a caso? 
        • Quali sono i colori disponibili?
"""        
print(f"Totale righe: {df.shape[0]}, colonne: {df.shape[1]}")

Totale righe: 606, colonne: 36

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB

In [6]:
print("Primo elemento:\n", df.head(1))
print("Ultimo elemento:\n",df.tail(1))
print("Sample 5 elementi:\n",df.sample(n= 5))
print("Colori disponibili:\n", df["Color"].unique())

Primo elemento:
    ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0           1             AR-5381                    NaN

  WeightUnitMeasureCode SizeUnitMeasureCode EnglishProductName  \
0                  None                None    Adjustable Race

  SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
0                                                NaN                  0  ...

  ChineseDescription  ArabicDescription  HebrewDescription  ThaiDescription  \
0               None               None               None             None

  GermanDescription JapaneseDescription  TurkishDescription  StartDate  \
0              None                None                None 2003-07-01

  EndDate   Status
0     NaT  Current

[1 rows x 36 columns]
Ultimo elemento:
      ProductKey ProductAlternateKey  ProductSubcategoryKey  \
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode  EnglishProductName  \
605                    LB                  CM  Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
605  Current

[1 rows x 36 columns]
Sample 5 elementi:
      ProductKey ProductAlternateKey  ProductSubcategoryKey  \
333         334          BK-R50B-60                    2.0
384         385          BK-R64Y-42                    2.0
206         207             TO-2301                    NaN
19           20             FE-3760                    NaN
166         167             MS-6061                    NaN

    WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
333                    LB                  CM     Road-650 Black, 60
384                    LB                  CM  Road-550-W Yellow, 42
206                  None                None               Top Tube
19                   None                None               Fork End
166                  None                None          Metal Sheet 1

                          SpanishProductName  \
333                Carretera: 650, negra, 60
384  Carretera: 550 para mujer, amarilla, 42
206
19
166

                    FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
333        Vélo de route 650 noir, 60        413.15                  1  ...
384  Vélo de route 550 -W - jaune, 42        605.65                  1  ...
206                                             NaN                  0  ...
19                                              NaN                  0  ...
166                                             NaN                  0  ...

                                    ChineseDescription  \
333  此自行车经济实惠，具有我们的高档车型所拥有的许多功能。相同的车灯、刚架以及我们驰名业界的快速...
384  使用的技术与我们所有的公路系列自行车完全相同，但车架尺寸专为女士设计。完美的全能自行车，可作...
206                                               None
19                                                None
166                                               None

                                     ArabicDescription  \
333  إنها دراجة ذات سعر مناسب لإمكاناتها كما تتمتع ...
384  ولها نفس التقنية المتوفرة في جميع دراجات سلسلة...
206                                               None
19                                                None
166                                               None

                                     HebrewDescription  \
333  אופניים המהווים תמורה נאותה למחירם ובעלי רבות ...
384  טכנולוגיה זהה לזו המצוי באופני סדרת "כביש" שלנ...
206                                               None
19                                                None
166                                               None

                                       ThaiDescription  \
333  จักรยานที่ให้ความคุ้มค่า ด้วยคุณสมบัติพิเศษมาก...
384  เทคโนโลยีเดียวกับจักรยานรุ่น Road ทั้งหมด แต่ใ...
206                                               None
19                                                None
166                                               None

                                     GermanDescription  \
333  "Kostengünstiges Rad mit vielen Funktionen uns...
384  Dieselbe Technologie wie bei allen Rädern unse...
206                                               None
19                                                None
166                                               None

                                   JapaneseDescription  \
333  最高級モデルの特色の多くを備えた値打ち価格の自転車です。ハイエンド クラスに匹敵する軽量高剛...
384  ロード シリーズの自転車と同じ技術を使用した女性用サイズのフレームで、ロードにも競技にも適し...
206                                               None
19                                                None
166                                               None

                                    TurkishDescription  StartDate    EndDate  \
333  Değerine uygun olarak fiyatlandırılan bisiklet... 2011-07-01 2007-12-28
384  "Yol serisi bisikletlerimizle aynı teknoloji, ... 2012-07-01 2008-12-27
206                                               None 2003-07-01        NaT
19                                                None 2003-07-01        NaT
166                                               None 2003-07-01        NaT

      Status
333     None
384     None
206  Current
19   Current
166  Current

[5 rows x 36 columns]
Colori disponibili:
 ['NA' 'Black' 'Silver' 'Red' 'White' 'Blue' 'Multi' 'Yellow' 'Grey'
 'Silver/Black']

In [7]:
"""
    • In media quanto pesano i prodotti? 
    • Quanto pesa il più leggero? 
    • Quanto pesa il più pesante? 
    • Quanti prodotti pesano più di 100 Kg? 
    • Quanto costano in media i prodotti (colonna DealerPrice)? 
    • Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, 
      quale sarà il loro range di prezzo?
"""

print(f"peso medio prodotti: {df['Weight'].mean():.2f}")
print(f"peso maggiore: {df['Weight'].max()}")
print(f"peso minore: {df['Weight'].min()}")
print(f"Costo medio prodotti: {df['DealerPrice'].mean():.2f}")
perc75 = df["DealerPrice"].quantile(0.75)

magg_perc75 = df[df["DealerPrice"] >= perc75]
range_start= magg_perc75["DealerPrice"].min()
range_end = magg_perc75["DealerPrice"].max()

print(f"Il range va da {range_start} a {range_end}")

peso medio prodotti: 56.19
peso maggiore: 1050.0
peso minore: 2.12
Costo medio prodotti: 448.60
Il range va da 722.5949 a 2146.962

In [12]:
"""
    • Qual è il prezzo medio per i prodotti di colore blu?  
    • Qual è il prezzo medio per i prodotti di colore rosso o nero? 
"""
print("Media prezzo prodotti di colore blu: ",df[df["Color"] == "Blue"]["DealerPrice"].mean())
print("Media prezzo prodotti di colore rosso o nero: ", df[(df["Color"] == "Red") | (df["Color"] == "Black")]["DealerPrice"].mean())

Media prezzo prodotti di colore blu:  516.0631785714286
Media prezzo prodotti di colore rosso o nero:  550.2481873684211

In [15]:
"""
    • Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, 
      peso oltre i 10 Kg e colore argento? 
"""
print(df[(df["Size"] == "42") & (df["Weight"] <=10) & (df["Color"] == "Silver")][["EnglishProductName", "StandardCost"]])

                   EnglishProductName  StandardCost
287    HL Mountain Frame - Silver, 42        623.84
288    HL Mountain Frame - Silver, 42        660.91
289    HL Mountain Frame - Silver, 42        747.20
511  ML Mountain Frame-W - Silver, 42        199.38
523    LL Mountain Frame - Silver, 42        144.59

In [19]:
new_df = pd.read_csv("amazon.csv")
"""
    • Valutiamo la dimensione del dataset 
    • Visualizziamo dieci righe a caso; 
    • Osserviamo quali sono i nomi di colonna; 
    • Il dataset è bilanciato, ovvero, il numero di 
      recensioni positive è uguale a quello delle negative, oppure no?
"""

print(f"dimensione dataset: {new_df.shape[0]} colonne, {new_df.shape[1]} righe")

dimensione dataset: 20000 colonne, 2 righe

In [20]:
print(f"Samples:\n {new_df.sample(n=10)}\n\n")

Samples:
                                               reviewText  Positive
3624   it keep force closing it sucks o my god it suc...         0
5565   This was a silly app to use,  It isn't user fr...         0
10625  Very beautiful, I don't use it because I found...         1
8877   Its nice to have an app that calculates &amp; ...         1
9634   Great application! Interfered with my keyboard...         1
13640  it is so cool I can name this app 4 ways awsom...         1
1926   I did not order this item from here.  I have n...         1
18626  Have just started to play sudoku and this help...         1
3137   Very entertaining and challenging way to spend...         1
19519  Feedly is a good app and I love how easy I can...         1

In [21]:
print(f"Colonne: {new_df.columns}")

Colonne: Index(['reviewText', 'Positive'], dtype='object')

In [24]:
positive = new_df[new_df["Positive"] == True].count()
negative = new_df[new_df["Positive"] != True].count()

print(positive, negative, positive - negative)

reviewText    15233
Positive      15233
dtype: int64 reviewText    4767
Positive      4767
dtype: int64 reviewText    10466
Positive      10466
dtype: int64

In [38]:
diabetes = pd.read_csv("diabetes.csv")



"""
    Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili 
    fisiologiche dei pazienti. 
        • Osserviamone le dimensioni e un'anteprima di cinque righe; 
        • Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
        • Stampiamo dei descrittori statistici del dataset; 
        • Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50; 
        • Qual è la media della pressione sanguigna diastolica per le diverse fasce di età? 
        • Qual è la media della pressione per ogni singolo anno di età?
"""

print(diabetes.shape)

(768, 9)

In [39]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [45]:
ranges = [0, 20, 30, 40, 50, 100]

data_collection = []

for index, num in enumerate(ranges[:-1]):
    
    data = diabetes[(diabetes["Age (years)"] > num) & (diabetes["Age (years)"] <= ranges[index + 1])][ "Diastolic blood pressure (mm Hg)"]
    data_collection.append(data)
    mean_for_range = data.mean()
    
    if num == 50:
        print(f"Media pressione diastolica in soggetti > 50 anni: {mean_for_range:.2f}")
        break
    
    print(f"Media pressione diastolica in fasce età tra {num} e {ranges[index + 1]}: {mean_for_range:.2f}\n")

Media pressione diastolica in fasce età tra 0 e 20: nan

Media pressione diastolica in fasce età tra 20 e 30: 65.32

Media pressione diastolica in fasce età tra 30 e 40: 70.27

Media pressione diastolica in fasce età tra 40 e 50: 74.79

Media pressione diastolica in soggetti > 50 anni: 78.38

In [46]:
start =diabetes["Age (years)"].min()
stop =diabetes["Age (years)"].max() + 1

for age in range(start, stop):
    
    pressure_mean = diabetes[diabetes['Age (years)'] == age][ 'Diastolic blood pressure (mm Hg)'].mean()
    print(f"Età {age}, Pressione Diastolica {pressure_mean:.2f}")

Età 21, Pressione Diastolica 65.94
Età 22, Pressione Diastolica 63.72
Età 23, Pressione Diastolica 64.32
Età 24, Pressione Diastolica 64.96
Età 25, Pressione Diastolica 59.67
Età 26, Pressione Diastolica 64.18
Età 27, Pressione Diastolica 73.50
Età 28, Pressione Diastolica 68.31
Età 29, Pressione Diastolica 68.24
Età 30, Pressione Diastolica 64.86
Età 31, Pressione Diastolica 64.38
Età 32, Pressione Diastolica 70.06
Età 33, Pressione Diastolica 65.65
Età 34, Pressione Diastolica 74.00
Età 35, Pressione Diastolica 75.60
Età 36, Pressione Diastolica 69.12
Età 37, Pressione Diastolica 75.95
Età 38, Pressione Diastolica 71.12
Età 39, Pressione Diastolica 72.67
Età 40, Pressione Diastolica 69.23
Età 41, Pressione Diastolica 67.59
Età 42, Pressione Diastolica 73.39
Età 43, Pressione Diastolica 78.46
Età 44, Pressione Diastolica 61.75
Età 45, Pressione Diastolica 83.07
Età 46, Pressione Diastolica 76.00
Età 47, Pressione Diastolica 78.33
Età 48, Pressione Diastolica 78.40
Età 49, Pressione Diastolica 81.40
Età 50, Pressione Diastolica 78.25
Età 51, Pressione Diastolica 84.50
Età 52, Pressione Diastolica 81.50
Età 53, Pressione Diastolica 79.00
Età 54, Pressione Diastolica 89.33
Età 55, Pressione Diastolica 70.25
Età 56, Pressione Diastolica 76.33
Età 57, Pressione Diastolica 76.80
Età 58, Pressione Diastolica 78.29
Età 59, Pressione Diastolica 74.00
Età 60, Pressione Diastolica 80.00
Età 61, Pressione Diastolica 76.00
Età 62, Pressione Diastolica 71.50
Età 63, Pressione Diastolica 78.00
Età 64, Pressione Diastolica 78.00
Età 65, Pressione Diastolica 78.67
Età 66, Pressione Diastolica 86.00
Età 67, Pressione Diastolica 72.67
Età 68, Pressione Diastolica 82.00
Età 69, Pressione Diastolica 81.00
Età 70, Pressione Diastolica 82.00
Età 71, Pressione Diastolica nan
Età 72, Pressione Diastolica 0.00
Età 73, Pressione Diastolica nan
Età 74, Pressione Diastolica nan
Età 75, Pressione Diastolica nan
Età 76, Pressione Diastolica nan
Età 77, Pressione Diastolica nan
Età 78, Pressione Diastolica nan
Età 79, Pressione Diastolica nan
Età 80, Pressione Diastolica nan
Età 81, Pressione Diastolica 74.00

In [47]:
insurance = pd.read_csv("insurance.csv")



"""
    Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone,
     e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per 
     le assicurazioni sulla salute. 
        • Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
        • Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
        • E rispetto a smoker? E a sex? 
"""
print(insurance.shape)
print(insurance.sample(2))
insurance.info()

print(insurance.groupby("region")["charges"].mean())
print(insurance.groupby("smoker")["charges"].mean())
print(insurance.groupby("sex")["charges"].mean())

(1338, 7)
    age     sex   bmi  children smoker     region    charges
71   31    male  28.5         5     no  northeast   6799.458
87   56  female  27.2         0     no  southwest  11073.176
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64
smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64
sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [49]:
pokemon = pd.read_csv("pokemon.csv")
"""
    Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
    • È verosimile che la prima colonna dovrebbe essere un indice? 
    • Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 
    • Se no, settare la prima colonna come indice.
"""

print(pokemon.shape)

(800, 13)

In [66]:
pokemon.sample(3)
pokemon.tail(5)
#la prima colonna non può essere un indice in quanto contiene duplicati

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [64]:
pokemon.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [67]:
"""
    • Quali sono i Pokémon leggendari? 
"""

print(pokemon[pokemon["Legendary"]])

                    Name    Type 1    Type 2  Total   HP  Attack  Defense  \
#
144             Articuno       Ice    Flying    580   90      85      100
145               Zapdos  Electric    Flying    580   90      90       85
146              Moltres      Fire    Flying    580   90     100       90
150               Mewtwo   Psychic       NaN    680  106     110       90
150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190      100
..                   ...       ...       ...    ...  ...     ...      ...
719              Diancie      Rock     Fairy    600   50     100      150
719  DiancieMega Diancie      Rock     Fairy    700   50     160      110
720  HoopaHoopa Confined   Psychic     Ghost    600   80     110       60
720   HoopaHoopa Unbound   Psychic      Dark    680   80     160       60
721            Volcanion      Fire     Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
144       95      125     85           1       True
145      125       90    100           1       True
146      125       85     90           1       True
150      154       90    130           1       True
150      154      100    130           1       True
..       ...      ...    ...         ...        ...
719      100      150     50           6       True
719      160      110    110           6       True
720      150      130     70           6       True
720      170      130     80           6       True
721      130       90     70           6       True

[65 rows x 12 columns]

In [71]:
"""
    E quali sono i leggendari di tipo 1 Grass? 
"""

print(pokemon[(pokemon["Legendary"]) & (pokemon["Type 1"] == "Grass")])

                  Name Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
#
492  ShayminLand Forme  Grass       NaN    600  100     100      100      100
492   ShayminSky Forme  Grass    Flying    600  100     103       75      120
640           Virizion  Grass  Fighting    580   91      90       72       90

     Sp. Def  Speed  Generation  Legendary
#
492      100    100           4       True
492       75    127           4       True
640      129    108           5       True

In [70]:
"""
    E leggendari di tipo 1 Ice o Fire?
"""

print(pokemon[(pokemon["Legendary"]) & (pokemon["Type 1"] == "Ice") | (pokemon["Type 1"] == "Fire")])

                          Name Type 1    Type 2  Total   HP  Attack  Defense  \
#
4                   Charmander   Fire       NaN    309   39      52       43
5                   Charmeleon   Fire       NaN    405   58      64       58
6                    Charizard   Fire    Flying    534   78      84       78
6    CharizardMega Charizard X   Fire    Dragon    634   78     130      111
6    CharizardMega Charizard Y   Fire    Flying    634   78     104       78
37                      Vulpix   Fire       NaN    299   38      41       40
38                   Ninetales   Fire       NaN    505   73      76       75
58                   Growlithe   Fire       NaN    350   55      70       45
59                    Arcanine   Fire       NaN    555   90     110       80
77                      Ponyta   Fire       NaN    410   50      85       55
78                    Rapidash   Fire       NaN    500   65     100       70
126                     Magmar   Fire       NaN    495   65      95       57
136                    Flareon   Fire       NaN    525   65     130       60
144                   Articuno    Ice    Flying    580   90      85      100
146                    Moltres   Fire    Flying    580   90     100       90
155                  Cyndaquil   Fire       NaN    309   39      52       43
156                    Quilava   Fire       NaN    405   58      64       58
157                 Typhlosion   Fire       NaN    534   78      84       78
218                     Slugma   Fire       NaN    250   40      40       40
219                   Magcargo   Fire      Rock    410   50      50      120
240                      Magby   Fire       NaN    365   45      75       37
244                      Entei   Fire       NaN    580  115     115       85
250                      Ho-oh   Fire    Flying    680  106     130       90
255                    Torchic   Fire       NaN    310   45      60       40
256                  Combusken   Fire  Fighting    405   60      85       60
257                   Blaziken   Fire  Fighting    530   80     120       70
257      BlazikenMega Blaziken   Fire  Fighting    630   80     160       80
322                      Numel   Fire    Ground    305   60      60       40
323                   Camerupt   Fire    Ground    460   70     100       70
323      CameruptMega Camerupt   Fire    Ground    560   70     120      100
324                    Torkoal   Fire       NaN    470   70      85      140
378                     Regice    Ice       NaN    580   80      50      100
390                   Chimchar   Fire       NaN    309   44      58       44
391                   Monferno   Fire  Fighting    405   64      78       52
392                  Infernape   Fire  Fighting    534   76     104       71
467                  Magmortar   Fire       NaN    540   75      95       67
485                    Heatran   Fire     Steel    600   91      90      106
498                      Tepig   Fire       NaN    308   65      63       45
499                    Pignite   Fire  Fighting    418   90      93       55
500                     Emboar   Fire  Fighting    528  110     123       65
513                    Pansear   Fire       NaN    316   50      53       48
514                   Simisear   Fire       NaN    498   75      98       63
554                   Darumaka   Fire       NaN    315   70      90       45
555    DarmanitanStandard Mode   Fire       NaN    480  105     140       55
555         DarmanitanZen Mode   Fire   Psychic    540  105      30      105
631                    Heatmor   Fire       NaN    484   85      97       66
653                   Fennekin   Fire       NaN    307   40      45       40
654                    Braixen   Fire       NaN    409   59      59       58
655                    Delphox   Fire   Psychic    534   75      69       72
662                Fletchinder   Fire    Flying    382   62      73       55
663                 Talonflame   Fire    Flying    499   78      81       71
667                     Litleo   Fire    Normal    369   62      50       58
668                     Pyroar   Fire    Normal    507   86      68       72
721                  Volcanion   Fire     Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
6        130       85    100           1      False
6        159      115    100           1      False
37        50       65     65           1      False
38        81      100    100           1      False
58        70       50     60           1      False
59       100       80     95           1      False
77        65       65     90           1      False
78        80       80    105           1      False
126      100       85     93           1      False
136       95      110     65           1      False
144       95      125     85           1       True
146      125       85     90           1       True
155       60       50     65           2      False
156       80       65     80           2      False
157      109       85    100           2      False
218       70       40     20           2      False
219       80       80     30           2      False
240       70       55     83           2      False
244       90       75    100           2       True
250      110      154     90           2       True
255       70       50     45           3      False
256       85       60     55           3      False
257      110       70     80           3      False
257      130       80    100           3      False
322       65       45     35           3      False
323      105       75     40           3      False
323      145      105     20           3      False
324       85       70     20           3      False
378      100      200     50           3       True
390       58       44     61           4      False
391       78       52     81           4      False
392      104       71    108           4      False
467      125       95     83           4      False
485      130      106     77           4       True
498       45       45     45           5      False
499       70       55     55           5      False
500      100       65     65           5      False
513       53       48     64           5      False
514       98       63    101           5      False
554       15       45     50           5      False
555       30       55     95           5      False
555      140      105     55           5      False
631      105       66     65           5      False
653       62       60     60           6      False
654       90       70     73           6      False
655      114      100    104           6      False
662       56       52     84           6      False
663       74       69    126           6      False
667       73       54     72           6      False
668      109       66    106           6      False
721      130       90     70           6       True

In [76]:
"""
    •Ordiniamo il dataset per la colonna Name; 
"""
pokemon = pokemon.sort_values(by="Name", ascending= True)

print(pokemon)

                          Type 1  Type 2  Total   HP  Attack  Defense  \
Name
Abomasnow                  Grass     Ice    494   90      92       75
AbomasnowMega Abomasnow    Grass     Ice    594   90     132      105
Abra                     Psychic     NaN    310   25      20       15
Absol                       Dark     NaN    465   65     130       60
AbsolMega Absol             Dark     NaN    565   65     150       60
...                          ...     ...    ...  ...     ...      ...
Zoroark                     Dark     NaN    510   60     105       60
Zorua                       Dark     NaN    330   40      65       40
Zubat                     Poison  Flying    245   40      45       35
Zweilous                    Dark  Dragon    420   72      85       70
Zygarde50% Forme          Dragon  Ground    600  108     100      121

                         Sp. Atk  Sp. Def  Speed  Generation  Legendary
Name
Abomasnow                     92       85     60           4      False
AbomasnowMega Abomasnow      132      105     30           4      False
Abra                         105       55     90           1      False
Absol                         75       60     75           3      False
AbsolMega Absol              115       60    115           3      False
...                          ...      ...    ...         ...        ...
Zoroark                      120       60    105           5      False
Zorua                         80       40     65           5      False
Zubat                         30       40     55           1      False
Zweilous                      65       70     58           5      False
Zygarde50% Forme              81       95     95           6       True

[800 rows x 11 columns]

In [75]:
"""
    Trasformiamo Name nell'indice;
"""
pokemon.set_index("Name", inplace= True)

print(pokemon)

                          Type 1  Type 2  Total   HP  Attack  Defense  \
Name
Abomasnow                  Grass     Ice    494   90      92       75
AbomasnowMega Abomasnow    Grass     Ice    594   90     132      105
Abra                     Psychic     NaN    310   25      20       15
Absol                       Dark     NaN    465   65     130       60
AbsolMega Absol             Dark     NaN    565   65     150       60
...                          ...     ...    ...  ...     ...      ...
Zoroark                     Dark     NaN    510   60     105       60
Zorua                       Dark     NaN    330   40      65       40
Zubat                     Poison  Flying    245   40      45       35
Zweilous                    Dark  Dragon    420   72      85       70
Zygarde50% Forme          Dragon  Ground    600  108     100      121

                         Sp. Atk  Sp. Def  Speed  Generation  Legendary
Name
Abomasnow                     92       85     60           4      False
AbomasnowMega Abomasnow      132      105     30           4      False
Abra                         105       55     90           1      False
Absol                         75       60     75           3      False
AbsolMega Absol              115       60    115           3      False
...                          ...      ...    ...         ...        ...
Zoroark                      120       60    105           5      False
Zorua                         80       40     65           5      False
Zubat                         30       40     55           1      False
Zweilous                      65       70     58           5      False
Zygarde50% Forme              81       95     95           6       True

[800 rows x 11 columns]

In [79]:
"""
    Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
"""
pokemon =pokemon[(pokemon["Attack"] > 50) & (pokemon["HP"] < 60) & (pokemon["Generation"] == 1)]

print(pokemon)

              Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Name
Bellsprout     Grass  Poison    300  50      75       35       70       30
Charmander      Fire     NaN    309  39      52       43       60       50
Charmeleon      Fire     NaN    405  58      64       58       80       65
Cloyster       Water     Ice    525  50      95      180       85       45
Diglett       Ground     NaN    265  10      55       25       35       45
Doduo         Normal  Flying    310  35      85       45       35       35
Dratini       Dragon     NaN    300  41      64       45       50       50
Dugtrio       Ground     NaN    405  35      80       50       50       70
Eevee         Normal     NaN    325  55      55       50       45       65
Ekans         Poison     NaN    288  35      60       44       40       54
Farfetch'd    Normal  Flying    352  52      65       55       58       62
Geodude         Rock  Ground    300  40      80      100       30       30
Goldeen        Water     NaN    320  45      67       60       35       50
Graveler        Rock  Ground    390  55      95      115       45       45
Growlithe       Fire     NaN    350  55      70       45       70       50
Hitmonchan  Fighting     NaN    455  50     105       79       35      110
Hitmonlee   Fighting     NaN    455  50     120       53       35      110
Kabuto          Rock   Water    355  30      80       90       55       45
Kingler        Water     NaN    475  55     130      115       50       50
Koffing       Poison     NaN    340  40      65       95       60       45
Krabby         Water     NaN    325  30     105       90       25       25
Magneton    Electric   Steel    465  50      60       95      120       70
Mankey      Fighting     NaN    305  40      80       35       35       45
Nidoran♂      Poison     NaN    273  46      57       40       40       40
Paras            Bug   Grass    285  35      70       55       45       55
Pikachu     Electric     NaN    320  35      55       40       50       50
Ponyta          Fire     NaN    410  50      85       55       65       65
Psyduck        Water     NaN    320  50      52       48       65       50
Raticate      Normal     NaN    413  55      81       60       50       70
Rattata       Normal     NaN    253  30      56       35       25       35
Sandshrew     Ground     NaN    300  50      75       85       20       30
Seadra         Water     NaN    440  55      65       95       95       45
Shellder       Water     NaN    305  30      65      100       45       25
Spearow       Normal  Flying    262  40      60       30       31       31
Wartortle      Water     NaN    405  59      63       80       65       80

            Speed  Generation  Legendary
Name
Bellsprout     40           1      False
Charmander     65           1      False
Charmeleon     80           1      False
Cloyster       70           1      False
Diglett        95           1      False
Doduo          75           1      False
Dratini        50           1      False
Dugtrio       120           1      False
Eevee          55           1      False
Ekans          55           1      False
Farfetch'd     60           1      False
Geodude        20           1      False
Goldeen        63           1      False
Graveler       35           1      False
Growlithe      60           1      False
Hitmonchan     76           1      False
Hitmonlee      87           1      False
Kabuto         55           1      False
Kingler        75           1      False
Koffing        35           1      False
Krabby         50           1      False
Magneton       70           1      False
Mankey         70           1      False
Nidoran♂       50           1      False
Paras          25           1      False
Pikachu        90           1      False
Ponyta         90           1      False
Psyduck        55           1      False
Raticate       97           1      False
Rattata        72           1      False
Sandshrew      40           1      False
Seadra         85           1      False
Shellder       40           1      False
Spearow        70           1      False
Wartortle      58           1      False